:root {
    --color-blue-0: #DBF3FF;
    --color-blue-1: #19B3FC;
    --color-blue-2: #0582BE;
    --color-blue-3: #2F74E3;
    --color-blue-4: #1362E1;
    --color-blue-5: #0F25E6;
    --color-gray-0: #FFFFFF;
    --color-gray-1: #F8FAFA;
    --color-gray-2: #F0F0F0;
    --color-gray-3: #E4EAEA;
    --color-gray-4: #BFBEC1;
    --color-gray-5: #D9D9D9;
    --color-gray-6: #707070;
    --color-gray-7: #141414;
    --color-gray-8: #000000;
    --color-gray-new-0: #B9C1C7;
    --color-gray-new-1: #333333;
    --color-green-0: #14C1AE;
    --color-green-1: #0CB3A1;
    --color-pink-0: #F4A7B7;
    --color-pink-1: #EA728B;
    --color-yellow-0: #FFE2A8;
    --color-yellow-1: #FED847;
    --color-yellow-2: #FDC453;
    --color-yellow-3: #CB972F;
    --color-yellow-4: #FC5819;

    --color-btn-normal-blue: var(--color-blue-1);
    --color-btn-hover-blue: #39BDFC;
    --color-btn-active-blue: #6BCEFD;
    --color-btn-normal-green: var(--color-green-1);
    --color-btn-hover-green: #2EBDAE;
    --color-btn-active-green: #63CEC2;
    --color-btn-normal-green-2: #FFFFFF;
    --color-btn-hover-green-2:#DCF4F1;
    --color-btn-active-green-2: #A7E3DD;
}