.blue {
  background-color: var(--color-blue-1);
}

.salmon {
  background-color: var(--color-pink-0);
}

.green {
  background-color: var(--color-green-0);
}

.dot-blue {
  color: var(--color-blue-1);
}

.dot-salmon {
  color: var(--color-pink-0);
}

.dot-green {
  color: var(--color-green-0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 6rem;
  height: 33.25rem;
  width: 24rem;
}

.image-wrapper img {
  width: 100%;
  height: 18.375rem;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 1.9375rem;
  margin-top: 1.25rem;
  color: white;
}

.title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.details {
  font-size: 1em;
  font-weight: 200;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;
}

.buttons {
  width: 16.125rem;
  display: flex;
  margin: 20px auto 0;
  justify-content: space-between;
}

.buttons div {
  width: 7.5rem;
  height: 2.5rem;
}
.buttons div:hover {
  /* background-color: blue; */
}

.sign-up {
  border: 2px solid white;
  color: white;
  display: flex;
  justify-content: center;
  line-height: 2.3rem;
}

.sign-up:hover {
  cursor: pointer;
}

.more-details {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
}

.more-details:hover {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.more-details span {
  font-size: 2rem;
  line-height: 44px;
}

.dot {
  color: var(--color-blue-1);
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    margin: 1.125rem 0rem 0rem;
    height: 9rem;
    width: 24rem;
  }

  .buttons {
    display: none;
  }

  .image-wrapper {
    width: 50%;
  }

  .title {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.625rem;
  }

  .details {
    font-size: 1em;
    font-weight: 200;
  }
  .image-wrapper img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
  }
}
