.wrapper {
  display: flex;
  margin: 0.625rem 1.25rem;
  height: 9rem;
  background-color: var(--color-blue-1);
}

.image-wrapper {
  background-image: url("../img/muveszeti_torna.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 1.9375rem;
  margin-top: 1.25rem;
  color: white;
}

.title {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.details {
  font-size: 1em;
  font-weight: 200;
}
