.wrapper {
  background-color: var(--color-blue-4);
  /* margin-top: 5rem; */
}

.title {
  height: 10.9375rem;
  display: flex;
  justify-content: center;
  margin-top: 6.0625rem;
}

.title h1 {
  padding-top: 4rem;
  color: #fff;
}

.courses {
  background-color: #fff;
  height: 100vh;
}
