.wrapper {
  display: flex;
  margin: 0.625rem 1.25rem;
  height: 9rem;
  background-color: var(--color-blue-1);
}

.image-wrapper {
  width: 50%;
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 1.9375rem;
  margin-top: 1.25rem;
  color: white;
}

.title {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.details {
  font-size: 1em;
  font-weight: 200;
}

.blue {
  background-color: var(--color-blue-1);
}

.salmon {
  background-color: var(--color-pink-0);
}

.green {
  background-color: var(--color-green-0);
}
