.covid-block {
  display: flex;
  justify-content: space-between;
  background: var(--color-pink-0);
  padding: 1.5rem;
  align-items: center;
  transform: scaleY(1);
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom;
}
.covid-block.hidden {
  display: none;
  transform: scaleY(0);
}
.covid-block * {
  color: var(--color-gray-0);
  white-space: nowrap;
}
.covid-block .btn.close {
  background: transparent;
  border: 0;
  outline: 0;
  margin-right: 5vw;
  font-size: 32px;
  height: 2rem;
  cursor: pointer;
}
.covid-block .btn.close:hover {
  color: var(--color-btn-hover-green-2);
}
.covid-block .btn.close:active {
  color: var(--color-btn-active-green-2);
}
.covid-block .size-20.thin strong {
  font-weight: 800;
}
.covid-block .size-20.thin {
  margin-right: 1.042vw;
}
.covid-block .link {
  font-size: 1.042vw;
  font-weight: 100;
}
.covid-block .first-section {
  display: flex;
  align-items: center;
}
.covid-block .btn.accept {
  background: var(--color-btn-normal-green-2);
  min-width: 128px;
  outline: 0;
  margin-left: 1.042vw;
  font-size: 0.781vw;
  padding: 10px 29px;
  font-weight: 800;
  transition: border-color 300ms, background-color 300ms, color 300ms;
  cursor: pointer;
  color: var(--color-pink-0);
  border: 1px solid var(--color-btn-normal-green-2);
}
.covid-block .btn.accept:hover {
  color: var(--color-btn-hover-green-2);
  border: 1px solid var(--color-btn-hover-green-2);
}
.covid-block .btn.accept:active {
  color: var(--color-btn-active-green-2);
  border: 1px solid var(--color-btn-active-green-2);
}

@media screen and (max-width: 767px) {
  .covid-block {
    padding: 0.5rem;
    flex-direction: column;
  }
  .covid-block * {
    white-space: unset;
  }
  .covid-block .btn.close {
    margin-right: 0;
    margin-left: auto;
    widows: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .covid-block .size-20.thin {
    margin-right: 0;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .covid-block .link {
    font-size: 15px;
    margin-bottom: 0.5rem;
  }
  .covid-block .btn.accept {
    font-size: 14px;
    width: 100%;
  }
}
