.wrapper {
  background-color: var(--color-gray-new-2);
  color: var(--color-gray-7);
}

.icons-wrapper {
  display: flex;
  margin-left: 6rem;
  margin-bottom: 5.5rem;
  padding-top: 5.5rem;
}

.text-wrapper p {
  margin: 0;
  margin-bottom: 6px;
  margin-left: 1rem;
}

.social-media {
  display: flex;
  align-items: center;
  margin-left: 9rem;
}

.social-insta {
  margin-right: 0.75rem;
}

.social-fb {
  margin-right: 0.75rem;
}

.details-box + .details-box {
  margin-left: 7.813vw;
  max-width: 16.667vw;
  min-width: 16.667vw;
}

.details-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 6rem;
  margin-left: 6rem;
}

@media screen and (max-width: 767px) {
  .wrapper {
    display: none;
    /* display: flex;
    flex-direction: column; */
  }
}
