.footer-logo .cls-1,
.footer-logo .cls-2 {
  font-family: "Gilroy";
  fill: var(--color-gray-7);
  stroke: var(--color-gray-7);
}
.footer-icon {
  width: 2.375rem;
  height: 2.375rem;
}
.footer-icon + .footer-icon {
  margin-left: 0.625rem;
}
.footer-icon .cls-1 {
  fill: var(--color-gray-7);
  stroke: var(--color-gray-7);
}
.footer-icon .cls-2 {
  stroke: var(--color-gray-7);
}