.landing {
  position: relative;
  background: var(--color-gray-0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dots {
  display: flex;
  flex-direction: column;
  z-index: 401;
  justify-items: center;
  align-items: center;
}
.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: var(--color-gray-0);
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}
.dot + .dot {
  margin-top: 3rem;
}
.dot.active {
  width: 1.5rem;
  height: 1.5rem;
  border: 4px solid var(--color-gray-0);
  box-shadow: 0px 3px 6px #00000029;
  background: transparent;
}
.landing .content-block {
  max-width: 26rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.left {
  position: absolute;
  left: 0;
  top: -100%;
  width: 50%;
  height: 100%;
  display: flex;
}
.left.one {
  background: var(--color-gray-new-0);
}
.left.one .title {
  color: var(--color-gray-0);
  white-space: pre-wrap;
}
.left.one .sub-title {
  color: var(--color-gray-new-1);
  white-space: nowrap;
  margin-top: 2.5rem;
  line-height: 2.25rem;
}
.left.one .stamp-box {
  display: flex;
  margin-left: 19vw;
  width: 5.833vw;
  height: 5.833vw;
  position: relative;
}
.left.one .stamp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: 7s infinite linear spin;
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.left.one .mask {
  position: absolute;
  background-image: url("../img/icons/stamp.svg");
  background-size: 5.833vw;
  background-position: center;
  background-color: var(--color-gray-new-0);
  top: 1vw;
  left: 1vw;
  border-radius: 1vw;
  z-index: 2;
  width: 3.833vw;
  height: 3.833vw;
}
.left.one .double-arrow-down {
  margin-top: 5rem;
  margin-left: 1.25rem;
  margin-bottom: 1.5rem;
  animation: sdb04 2s infinite;
}
@keyframes sdb04 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 2vh);
  }
  40% {
    transform: translate(0, 0);
  }
}
.left.one .double-arrow-down .cls-1:first-child {
  display: none;
}
.left.one .double-arrow-down .cls-1 {
  fill: var(--color-gray-new-0);
  stroke-width: 0.25rem;
  stroke: var(--color-gray-3);
}
.left.one .double-arrow-down .cls-2 {
  stroke: unset;
}
.left.two {
  background: var(--color-pink-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left.two.active {
  animation: scrolldown 500ms ease-in-out forwards, fadeIn ease 3s;
}
.left.two .text-box {
  display: flex;
  flex-direction: column;
  min-width: 27.604vw;
}
.left.two .text {
  color: var(--color-gray-0);
}
.left.two.active .text {
  color: var(--color-gray-0);
  white-space: pre-wrap;
  width: 0px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  animation: typewriter 0.75s steps(100, end);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.left.two.active .text:nth-child(2) {
  animation-delay: 1s;
}
.left.two.active .text:nth-child(3) {
  animation-delay: 1.5s;
}
.left.two.active .text:nth-child(4) {
  animation-delay: 2s;
}
.left.two.active .text:nth-child(5) {
  animation-delay: 2.5s;
}
.left.two.active .text:nth-child(6) {
  animation-delay: 3s;
}
.left.two.active .text:nth-child(7) {
  animation-delay: 3.5s;
}
.left.two.active .text:nth-child(9) {
  animation-delay: 4s;
}
@keyframes typewriter {
  from { width: 0px; }
  to { width: 100%; }
}
.left.two.active .text.thin {
  color: var(--color-gray-new-1);
  margin-top: 1rem;
}
.left.two.active .separator {
  animation: sepa-grow 0.75s steps(100, end);
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
  margin-top: 5.25rem;
  height: 6px;
  width: 0px;
  background: var(--color-gray-new-1);
}
@keyframes sepa-grow {
  from { width: 0px; }
  to { width: 3.5vw; }
}
.left.three {
  background: var(--color-green-0);
}
.left.three *,
.left.six * {
  color: var(--color-gray-0);
}
.left.three .title,
.left.four .title,
.left.five .title,
.left.six .title,
.left.seven .title,
.left.eight .title {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.left.three :not(.title),
.left.four :not(.title),
.left.five :not(.title),
.left.six :not(.title),
.left.seven :not(.title),
.left.eight :not(.title) {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.left.three.active .title,
.left.four.active .title,
.left.five.active .title,
.left.six.active .title,
.left.seven.active .title,
.left.eight.active .title {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.left.three.active :not(.title),
.left.four.active :not(.title),
.left.five.active :not(.title),
.left.six.active :not(.title),
.left.seven.active :not(.title),
.left.eight.active :not(.title) {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.left.three .article:nth-child(2)::first-letter {
  font-size: 2.813vw;
  font-weight: 800;
}
.left.three .content-block,
.left.six .content-block,
.left.seven .content-block {
  max-width: 29rem;
}
.left.three .article:nth-child(2),
.left.six .article:nth-child(2) {
  font-weight: 100;
  margin-top: 3.75rem;
  white-space: pre-wrap;
}
.left.six .article:nth-child(2)::first-letter {
  font-size: 2.813vw;
  font-weight: 800;
  color: var(--color-gray-new-1);
}
.left.three .article,
.left.six .article {
  line-height: 28px;
}
.left.three .article + .article,
.left.six .article + .article {
  margin-top: 2rem;
}
.left.three .button-box {
  margin-top: 3.75rem;
}
.left.three .button-box .btn {
  padding: 19px 25px;
  font-size: 15px;
  font-weight: 800;
  border: 2px solid var(--color-gray-0);
  transition: border 300ms, background-color 300ms, color 300ms;
}
.left.three .button-box .btn:focus {
  outline: unset;
}
.left.three .button-box a + .btn-programs {
  margin-left: 15px;
}
.left.three .button-box .btn-primary {
  background: transparent;
}
.left.three .button-box .btn-primary:hover {
  color: var(--color-gray-3);
  border: 2px solid var(--color-gray-3);
}
.left.three .button-box .btn-secondary {
  background: var(--color-gray-0);
  color: var(--color-green-1);
}
.left.three .button-box .btn-secondary:hover {
  color: var(--color-green-1);
  background: var(--color-gray-3);
  border: 2px solid var(--color-gray-3);
}
.left.four {
  background: var(--color-gray-3);
}
.left.four .content-block {
  max-width: 34rem;
}
.left.four .content-block *{
  color: var(--color-gray-new-1);
}
.left.four .drop-down-list {
  margin-top: 2rem;
}
.left.four .drop-down-list,
.left.four .drop-down-list .place,
.left.four .drop-down-list .place .place-informations {
  display: flex;
  flex-direction: column;
}
.left.four .drop-down-list .place {
  padding: 0.5rem 0;
  padding-left: 3rem;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.left.four .drop-down-list .place * {
  cursor: pointer;
}
.left.four .drop-down-list .place .plus-sign,
.left.four .drop-down-list .place .minus-sign {
  position: absolute;
  left: 1rem;
  top: 0.375rem;
  width: 1.5rem;
  height: 2rem;
  display: block;
}
.left.four .drop-down-list .place .minus-sign {
  display: none;
}
.left.four .drop-down-list .place.active .minus-sign {
  display: block;
}
.left.four .drop-down-list .place.active .plus-sign {
  display: none;
}
.left.four .drop-down-list .place .plus-sign .cls-1,
.left.four .drop-down-list .place .plus-sign .cls-1,
.left.four .drop-down-list .place .minus-sign .cls-2,
.left.four .drop-down-list .place .minus-sign .cls-2 {
  stroke: var(--color-gray-new-1);
  stroke-width: 0.125rem;
}
.left.four.active ~ .dots .dot {
  background: var(--color-gray-new-1);
}
.left.four.active ~ .dots .dot.active {
  border-color: var(--color-gray-new-1);
  background: transparent;
}
.left.four .drop-down-list .place .place-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 28px;
}
.left.four .drop-down-list .place .place-informations {
  max-height: 0;
  overflow: hidden;
}
.left.four .drop-down-list .place .place-address {
  margin-top: 0.625rem;
  margin-bottom: 1rem;
}
.left.four .drop-down-list .place .title {
  margin-top: 0.25rem;
}
.left.four .drop-down-list .place.active .title:before {
  content: "•";
  position: absolute;
  left: 35px;
}
.left.four .drop-down-list .place.active .place-informations {
  max-height: 30rem;
  transition: max-height 0.3s ease-in-out;
}
.left.five {
  background: var(--color-pink-0);
}
.left.five .title,
.left.seven .title {
  color: var(--color-gray-0);
  margin-bottom: 2rem;
}
.left.five .list-item,
.left.seven .list-item {
  color: var(--color-gray-0);
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}
.left.seven .list-item {
  color: var(--color-gray-new-1);
}
.left.five.active .list-item,
.left.seven.active .list-item {
  width: 44px;
  animation: typing 2s steps(100, end);
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transition: transform 0.3s ease-in-out;
}
@keyframes typing {
  from { width: 44px; }
  to { width: 100%; }
}
.left.five.active .list-item.active,
.left.seven.active .list-item.active {
  transition-delay: 2.3s;
  transform: translateX(58px);
}
.left.five.active .list-item:hover,
.left.seven.active .list-item:hover,
.left.five.active .list-item.active:hover,
.left.seven.active .list-item.active:hover {
  transition-delay: 0s;
  transform: translateX(58px);
}
.left.five .list-item .arrow,
.left.seven .list-item .arrow {
  margin-right: 1rem;
}
.left.five.active .list-item .arrow,
.left.seven.active .list-item .arrow {
  margin-right: 1rem;
  animation: grow linear 1s;
  min-width: 1.75rem;
  max-width: 1.75rem;
}
@keyframes grow {
  0% {
    transform: scale(0.2);
    transform-origin: top left;
  }
  100% {
    transform: scale(1);
    transform-origin: top left;
  }
}
.left.five .list-item .arrow .cls-1,
.left.seven .list-item .arrow .cls-1 {
  fill: transparent;
  stroke-width: 4px;
  stroke: var(--color-gray-new-1);
}
.left.seven .list-item .arrow .cls-1 {
  stroke: var(--color-gray-0);
}
.left.five .list-item .arrow .cls-2,
.left.seven .list-item .arrow .cls-2 {
  stroke-width: 4px;
  stroke: var(--color-gray-new-1);
}
.left.seven .list-item .arrow .cls-2 {
  stroke: var(--color-gray-0);
}
.left.six {
  background: var(--color-blue-4);
}
.left.six .content-block .title {
  white-space: pre-wrap;
}
.left.seven {
  background: var(--color-green-0);
}
.left.eight {
  background: var(--color-pink-0);
}
.left.eight * {
  color: var(--color-gray-0);
}
.left.eight .content-block {
  max-width: 30vw;
}
.left.eight .title {
  color: var(--color-gray-7);
  margin-bottom: 2rem;
}
.left.eight .article {
  line-height: 28px;
}
.left.eight .sepa-row {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  margin-left: 8vw;
}
.left.eight .sepa-row .icon {
  min-width: 2.083vw;
}
.left.eight .sepa-row .text {
  margin: 0 1rem;
  white-space: nowrap;
  color: var(--color-gray-new-1);
}
.left.eight .sepa-row hr {
  margin: 0;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--color-gray-0);
}
.left.active {
  animation: scrolldown 500ms ease-in-out forwards;
}
.left:not(.active) {
  animation: scrolloutup ease-in-out 500ms;
  overflow: hidden;
}
.right {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}
.right.one {
  background-image: url("../img/landing_bg_1.jpg");
}
.right.two {
  background-image: url("../img/landing_bg_2.jpg");
}
.right.two.active {
  animation: scrollup 500ms ease-in-out forwards, fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {opacity:0.4;}
  100% {opacity:1;}
}
.right.three {
  background-image: url("../img/landing_bg_3.png");
}
.right.four {
  background: var(--color-gray-3);
  overflow: hidden;
}
.right.five {
  transition: background-image 0.3s ease-in-out;
}
.right.five.no-one {
  background-image: url("../img/landing_sub/five-one.png");
}
.right.five.no-two {
  background-image: url("../img/landing_sub/five-two.jpg");
}
.right.five.no-three {
  background-image: url("../img/landing_sub/five-three.jpg");
}
.right.five.no-four {
  background-image: url("../img/landing_sub/five-four.jpg");
}
.right.five.no-five {
  background-image: url("../img/landing_sub/five-five.jpg");
}
.right.five.no-fix {
  background-image: url("../img/landing_sub/five-six.jpg");
}
.right.six {
  background: var(--color-blue-3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.right.six .content-block {
  margin-left: auto;
  max-width: unset;
}
.right.six .content-block iframe {
  margin-top: calc(9vh + 3.75rem);
  width: 32.344vw;
  height: 32vh;
}
.right.six .content-block .link-block {
  margin-top: 3rem;
  background: var(--color-blue-3);
  display: flex;
  justify-content: center;
}
.right.six .content-block .link-block .link {
  cursor: pointer;
  color: var(--color-gray-0);
  opacity: 0.45;
}
.right.six .content-block .link-block .link + .link {
  margin-left: 1rem;
}
.right.six .content-block .link-block .link.active {
  font-weight: 600;
  opacity: 1;
}
.right.seven {
  transition: background-image 0.3s ease-in-out;
}
.right.seven.no-one {
  background-image: url("../img/landing_sub/seven-one.jpg");
}
.right.seven.no-two {
  background-image: url("../img/landing_sub/seven-two.jpg");
}
.right.seven.no-three {
  background-image: url("../img/landing_sub/seven-three.jpg");
}
.right.seven.no-four {
  background-image: url("../img/landing_sub/seven-four.jpg");
}
.right.seven.no-five {
  background-image: url("../img/landing_sub/seven-five.jpg");
}
.right.seven.no-fix {
  background-image: url("../img/landing_sub/seven-six.jpg");
}
.right.eight {
  background-image: url("../img/landing_bg_8.png");
}
.right.active {
  animation: scrollup 500ms ease-in-out forwards;
}
.right:not(.active) {
  animation: scrolloutdown 500ms ease-in-out;
}
.right .image-switch {
  display: none;
}
.right.active .image-switch {
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 3.375rem;
  left: 50%;
  width: 50%;
}
.right.active .image-switch .switch {
  border-top: 3px solid var(--color-gray-0);
  width: 4.75rem;
  padding: 0.5rem 0;
  cursor: pointer;
}
.right.active .image-switch .switch.active {
  border-top: 7px solid var(--color-gray-0);
}
.right.active .image-switch .switch + .switch {
  margin-left: 0.5rem;
}

.social-media-bar {
  position: fixed;
  right: 66px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 401;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media-bar .icon {
  cursor: pointer;
}
.social-media-bar .icon + .icon {
  margin-top: 25px;
}

.social-media-bar .icon .cls-2 {
  stroke: unset;
}

.mobile-footer {
  display: none;
}

@keyframes scrolldown {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes scrollup {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

@keyframes scrolloutdown {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}

@keyframes scrolloutup {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

@media screen and (max-width: 767px) {
  .landing {
    overflow: scroll;
    flex-direction: column;
    height: unset;
  }
  .right.active,
  .left.active,
  .right:not(.active),
  .left:not(.active) {
    animation: unset;
  }
  .left.one {
    order: 2;
    padding: 1.5rem 1.75rem;
    position: relative;
  }
  .left.one .content-block{
    margin-left: unset;
  }
  .left.one .content-block .sub-title {
    display: none;
  }
  .left.one .content-block .stamp-box {
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 5rem;
    right: 2rem;
  }
  .left.one .content-block .stamp-box .a {
    fill: var(--color-gray-7);
  }
  .left.one .content-block .stamp-box .mask {
    width: 4.5rem;
    height: 4.5rem;
    top: 1.25rem;
    left: 1.25rem;
    border-radius: 3.75rem;
    background-size: 7rem;
    background-image: url("../img/icons/stamp_inverse.svg");
  }
  .right.one {
    order: 1;
    background-size: 100% auto;
    background-color: var(--color-gray-new-0);
  }
  .left.two {
    order: 3;
  }
  .right.two {
    order: 4;
  }
  .left.three {
    order: 5;
    padding: 1.75rem;
  }
  .right.three {
    order: 6;
  }
  .left.eight {
    order: 7;
    padding: 1.75rem 1.75rem 3.5rem 1.75rem;
  }
  .left.eight .content-block {
    max-width: 20rem;
  }
  .left.eight .sepa-row {
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
  }
  .left.eight .sepa-row svg,
  .left.eight .sepa-row hr {
    display: none;
  }
  .left.eight .sepa-row .text {
    margin: unset;
  }
  .left.seven {
    order: 8;
    padding: 1.75rem 1.75rem 3.5rem 1.75rem;
  }
  .left.five .list-item,
  .left.seven .list-item {
    color: var(--color-gray-7);
  }
  .left.five .list-item .arrow,
  .left.seven .list-item .arrow {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
  .left.five .list-item .arrow .cls-1,
  .left.seven .list-item .arrow .cls-1 {
    fill: var(--color-gray-7);
    stroke: var(--color-gray-7);
    stroke-width: 0.3px;
  }
  .left.five .list-item .arrow .cls-2,
  .left.seven .list-item .arrow .cls-2 {
    stroke: var(--color-gray-7);
  }
  .right.seven.no-one {
    order: 9;
    background: url("../img/landing_bg_7.png");
    background-size: 100% auto;
  }
  .left.five {
    order: 10;
    padding: 1.75rem 1.75rem 3.5rem 1.75rem;
  }
  .left.four {
    padding: 1.75rem 1.75rem 3.5rem 1.75rem;
    order: 11;
    background: var(--color-gray-0);
  }
  .left.four .drop-down-list .place {
    padding: 1rem 0;
    padding-left: 3rem;
  }
  .left.four .drop-down-list .place .plus-sign,
  .left.four .drop-down-list .place .minus-sign {
    left: 0.75rem;
    top: 0.825rem;
  }
  .right.eight {
    order: 12;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
  }
  .dots,
  .right.four,
  .right.five,
  .left.six,
  .right.six {
    display: none;
  }
  .left {
    height: unset;
  }
  .right {
    height: 25rem;
    background-size: 100% auto;
    background-position: unset;
  }
  .left,
  .right {
    position: unset;
    animation: unset;
    width: 100%;
  }
  .landing .content-block,
  .left.four .content-block {
    max-width: 20rem;
    margin: auto;
  }
  .left.one .double-arrow-down {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .left.one .double-arrow-down + .thin {
    color: var(--color-gray-new-1);
    margin-bottom: 1.5rem;
  }
  .left.two .text-box {
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
  }
  .left.two .text.thin {
    margin-top: 3rem;
    position: relative;
  }
  .left.two .text.thin::before {
    position: absolute;
    content: ' ';
    left: 0;
    top: -0.75rem;
    height: 4px;
    width: 3rem;
    background: var(--color-gray-new-1);
  }
  .left.three .article,
  .left.three .article:nth-child(2) {
    margin-top: 1rem;
  }
  .left.three .article:nth-child(2)::first-letter {
    font-weight: 100;
    color: var(--color-gray-0);
  }
  .left.three .button-box {
    margin-top: 2rem;
    margin-bottom: 0.875rem;
  }
  .left.three .button-box .btn {
    padding: 10px 22px;
    font-size: 12px;
  }
  .social-media-bar {
    display: none;
  }
  .right.active .image-switch {
    display: none;
  }
  .mobile-footer {
    order: 12;
    display: flex;
    flex-direction: column;
    background: var(--color-gray-3);
    color: var(--color-gray-7);
  }
  .mobile-footer .balett {
    width: 100vw;
    height: auto;
  }
  .mobile-footer .content-block {
    padding: 3rem 1.625rem;
    width: 100%;
    max-width: unset;
    display: flex;
    flex-direction: column;
  }
  .mobile-footer .content-block .content-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 16rem;
    margin-left: 0;
    margin-right: auto;
  }
  .mobile-footer .content-block .content-header .logo .cls-1,
  .mobile-footer .content-block .content-header .logo .cls-2 {
    font-family: "Gilroy";
    fill: var(--color-gray-7);
    stroke: var(--color-gray-7);
  }
  .mobile-footer .content-block .article {
    margin-bottom: 1.25rem;
    margin-top: 0.75rem;
  }
  .mobile-footer .content-block .sm-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
  }
  .mobile-footer .content-block .sm-icons .icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .mobile-footer .content-block .sm-icons .icon + .icon {
    margin-left: 0.75rem;
  }
  .mobile-footer .content-block .sm-icons .icon .cls-1 {
    fill: var(--color-gray-7);
  }
  .mobile-footer .content-block .sm-icons .icon .cls-2 {
    fill: var(--color-gray-0);
    stroke: var(--color-gray-0);
  }
}
