.landing {
  position: relative;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dots {
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-items: center;
  align-items: center;
}
.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: var(--color-gray-0);
  cursor: pointer;
}
.dot + .dot {
  margin-top: 1.5rem;
}
.dot.active {
  width: 2rem;
  height: 2rem;
  border: 9px solid var(--color-gray-0);
  background: transparent;
}
.left {
  position: absolute;
  left: 0;
  top: -100%;
  width: 50%;
  height: 100%;
  display: flex;
}
.left.one {
  background: var(--color-blue-4);
}
.left.one .text-block {
  max-width: 26rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.left.one .title {
  color: var(--color-gray-0);
  
}
.left.one .sub-title {
  color: var(--color-gray-0);
  white-space: nowrap;
  margin-top: 2.5rem;
}
.left.one .text {
  margin-top: 5rem;
  color: var(--color-gray-0);
  transform: rotate(90deg);
  width: fit-content;
}
.left.two {
  background: var(--color-pink-0);
}
.left.two .text {
  color: var(--color-gray-0);
  max-width: 26rem;
  margin: auto;
}
.left.three {
  background: var(--color-green-0);
}
.left.four {
  background: var(--color-gray-3);
}
.left.five {
  background: var(--color-pink-0);
}
.left.six {
  background: var(--color-blue-4);
}
.left.seven {
  background: var(--color-yellow-2);
}
.left.eight {
  background: var(--color-blue-1);
}
.left.active {
  animation: scrolldown 500ms ease-in-out forwards;
}
.left:not(.active) {
  animation: scrolloutup ease-in-out 500ms;
}
.right {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}
.right.one {
  background-image: url('../img/landing_bg_1.png');
}
.right.two {
  background-image: url('../img/landing_bg_2.png');
}
.right.three {
  background-image: url('../img/landing_bg_3.png');
}
.right.four {
  background: var(--color-gray-3);
}
.right.five {
  background-image: url('../img/landing_bg_5.png');
}
.right.six {
  background: var(--color-blue-3);
}
.right.seven {
  background-image: url('../img/landing_bg_7.png');
}
.right.eight {
  background-image: url('../img/landing_bg_8.png');
}
.right.active {
  animation: scrollup 500ms ease-in-out forwards;
}
.right:not(.active) {
  animation: scrolloutdown 500ms ease-in-out;
}

@keyframes scrolldown {
  from {top: -100%;}
  to {top: 0;}
}

@keyframes scrollup {
  from {top: 100%;}
  to {top: 0;}
}

@keyframes scrolloutdown {
  from {top: 0%;}
  to {top: -100%;}
}

@keyframes scrolloutup {
  from {top: 0%;}
  to {top: 100%;}
}
