.modal {
  width: 100%;
  padding: 20px 4rem;
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 403;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: white;
  display: flex;
  flex-flow: row;
  transition: opacity 0.25s ease-in-out,transform 0.75s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  opacity: 1;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.closed {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.close-button {
  border: none;
  background-color: #fff;
  color: var(--color-gray-new-1);
  opacity: 0.53;
  font-size: 54px;
  font-weight: 100;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.close-button:hover,
.close-button:active {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 402;
  background: rgba(255, 255, 255, 1);
}

.modal-guts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.modal-body {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video {
  width: 66.667vw;
  height: 37.500vw;
}

.years {
  margin-top: 4rem;
}

.year {
  margin: 0 1rem;
  color: gray;
  cursor: pointer;
}

.selected-year {
  color: black;
}

.modal-footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
