.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 401;
  padding: 1.625rem 2.75rem;
  top: 0;
  left: 0;
  position: absolute;
}

.header .logo {
  height: 44px;
}

.header .links {
  display: flex;
}
.header .links a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  color: var(--color-gray-7);
  white-space: nowrap;
}
.header .links a + a {
  margin-left: 1rem;
}

@media screen and (max-width: 767px) {
  .header {
    position: unset;
    padding: 18px 28px;
    margin: 0;
    width: 100%;
    height: unset;
  }
  .header.background-green {
    background: var(--color-green-0);
  }
  .header.background-blue {
    background: var(--color-blue-4);
  }
  .header a {
    height: 2rem;
  }
  .header .logo,
  .header .links {
    display: none;
  }
}
