.header {
  z-index: -1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25.75rem;
  background-color: var(--color-blue-1);
  background-image: url("../img/programs/program_header.svg");
}

.programs-wrapper {
  position: relative;
  padding-top: 5.75rem;
  display: flex;
  flex-direction: column;
}

.header-text {
  width: 100%;
  text-align: center;
  color: var(--color-gray-0);
}

.cards-wrapper {
  display: grid;
  gap: 3.25rem;
  grid-template-columns: repeat(2, 27.25rem);
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}

.text-wrapper {
  text-align: center;
  margin-top: 1.875rem;
}

.text-wrapper h4 {
  margin: 0;
  /* margin-bottom: 1.25rem; */
  color: var(--color-gray-new-1);
}

.page-footer {
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  margin-top: 0;
  padding-top: 5rem;
  margin-bottom: 2rem;
}

.footer-button {
  width: 7rem;
  height: 2.125rem;
  margin-bottom: 1.0625rem;
  border: none;
  background-color: var(--color-blue-4);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .programs-wrapper {
    position: relative;
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }

  .header {
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: unset;
  }

  .programs-wrapper label {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: unset;
    background: var(--color-blue-1);
  }

  .cards-wrapper {
    display: block;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-top: 0.625rem;
  }

  .card {
    width: 100%;
    background-color: #ffffff;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
  }

  .text-wrapper {
    /* margin: 1.25rem; */
    margin-bottom: 2rem;
    margin-top: 1rem;
    /* padding-bottom: 1.25rem; */
  }

  .text-wrapper p {
    margin: 0;
  }

  .text-wrapper h4 {
    margin-bottom: 1.25rem;
    color: var(--color-gray-new-1);
    font-size: 24px;
  }

  .card:first-child {
    margin-right: 0;
  }

  .card:last-child {
    margin-left: 0;
  }

  .page-footer {
    display: none;
  }
}
