.header {
  z-index: -1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25.75rem;
  background-color: var(--color-blue-1);
}

.programs-wrapper {
  position: relative;
  padding-top: 5.75rem;
  display: flex;
  flex-direction: column;
}

.header-text {
  width: 100%;
  text-align: center;
  color: var(--color-gray-0);
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5rem;
}

.card {
  width: 37.5rem;
  background-color: var(--color-gray-1);
}

.card:first-child {
  margin-right: 1.5%;
}

.card:last-child {
  margin-left: 1.5%;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}

.text-wrapper {
  margin: 1.25rem;
  margin-bottom: 3.25rem;
  margin-top: 2.5rem;
}

.text-wrapper h4 {
  margin-bottom: 1.25rem;
  color: var(--color-blue-1);
}

.page-footer {
  height: 17rem;
  background-color: var(--color-gray-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  margin-top: 0;
  padding-top: 5rem;
  margin-bottom: 2rem;
}

.footer-button {
  width: 7rem;
  height: 2.125rem;
  margin-bottom: 1.0625rem;
  border: none;
  background-color: var(--color-blue-4);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .programs-wrapper {
    background-color: var(--color-blue-1);
    position: relative;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
  }

  .programs-wrapper label {
    margin-bottom: 2rem;
  }

  .cards-wrapper {
    display: block;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-top: 0;
  }

  .card {
    width: 100%;
    background-color: #ffffff;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
  }

  .text-wrapper {
    /* margin: 1.25rem; */
    margin-bottom: 0.625rem;
    /* margin-top: 2.5rem; */
    padding-bottom: 1.25rem;
  }

  .text-wrapper p {
    margin: 0;
  }

  .text-wrapper h4 {
    margin-bottom: 1.25rem;
    color: var(--color-blue-1);
  }

  .card:first-child {
    margin-right: 0;
  }

  .card:last-child {
    margin-left: 0;
  }
}
