.header {
  z-index: -1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25rem;
  background-color: var(--color-blue-1);
}

.programs-wrapper {
  position: relative;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
}

.header-text {
  width: 100%;
  text-align: center;
  color: var(--color-gray-0);
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5rem;
}

.card {
  width: 37.5rem;
  background-color: var(--color-gray-1);
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}

.text-wrapper {
  margin: 1.25rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.text-wrapper h4 {
  margin-bottom: 1.25rem;
  color: var(--color-blue-1);
}

.page-footer {
  height: 17rem;
  background-color: var(--color-gray-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  margin-top: 0;
  padding-top: 5rem;
  margin-bottom: 2rem;
}

.footer-button {
  width: 7rem;
  height: 2.125rem;
  margin-bottom: 1.0625rem;
  border: none;
  background-color: var(--color-blue-4);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-top: 0;
  }

  .card {
    width: 100%;
    background-color: #ffffff;
    margin-top: 5rem;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
  }

  .text-wrapper {
    margin: 1.25rem;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }

  .text-wrapper h4 {
    margin-bottom: 1.25rem;
    color: var(--color-blue-1);
  }
}
