.header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: var(--color-gray-0);
  align-items: center;
  height: 31.25rem;
  background: transparent;
}

.header {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 31.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.state-location {
  text-align: center;
  z-index: 1;
  margin-top: 10rem;
  color: var(--color-gray-0);
  padding-bottom: 0.5rem;
  border-bottom: 2px dotted var(--color-gray-0);
}

.state-location a {
  color: unset;
  text-decoration: unset;
}

.header-title {
  height: 10.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-gray-0);
}

.body {
  padding-top: 6.625rem;
  max-width: 80rem;
  margin: 0 16.667%;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.details {
  max-width: 40rem;
}

.event-wrapper {
  width: 24rem;
  height: 11rem;
  background-color: var(--color-gray-1);
  margin-top: 1.5rem;
  padding: 2rem;
}

.event-wrapper p,
h5 {
  margin: 0;
}

.event-header {
  display: flex;
  justify-content: space-between;
}

.event-title {
  margin-top: 1.5rem;
}

.event-wrapper:first-child {
  margin-top: 0;
}

.event-body {
  margin-top: 1.5rem;
}

.main-pic-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 9rem;
}

.main-pic {
  width: 52rem;
  height: 29.25rem;
}

.alt-text {
  margin-top: 2.5rem;
  text-align: center;
}

.images {
  margin-top: 7.75rem;
  background-color: var(--color-gray-1);
  width: 100%;
}

.images-title {
  padding-top: 3rem;
  text-align: center;
}

.images-title h5 {
  margin: 0;
}

.logos {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.icon + .icon {
  margin-left: 0.75rem;
}

.gallery {
  padding-top: 4rem;
  margin: 0 16.667%;
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  margin-bottom: 0.7rem;
  margin-left: 0.7rem;
}
