.header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: var(--color-gray-0);
  align-items: center;
  height: 31.25rem;
  background: transparent;
}

.header {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 31.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.state-location {
  text-align: center;
  z-index: 1;
  margin-top: 10rem;
  color: var(--color-gray-0);
  padding-bottom: 0.5rem;
  position: relative;
}

.state-location::before {
  content: ' ';
  left: -0.625rem;
  width: 0.5rem;
  height: 0.5rem;
  top: 1px;
  position: absolute;
  border-top: 2px solid var(--color-gray-0);
  border-left: 2px solid var(--color-gray-0);
  transform: rotate(-45deg);
}

.state-location a {
  color: unset;
  text-decoration: unset;
}

.header-title {
  height: 10.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-gray-0);
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: var(--color-gray-0);
  align-items: center;
  padding: 0 25.833vw;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5.72rem;
}

.details p {
  line-height: 28px;
}

.event-wrapper {
  width: 24rem;
  height: 11rem;
  background-color: var(--color-gray-1);
  margin-top: 1.5rem;
  padding: 2rem;
}

.event-wrapper p,
h5 {
  margin: 0;
}

.event-header {
  display: flex;
  justify-content: space-between;
}

.event-title {
  margin-top: 1.5rem;
}

.event-wrapper:first-child {
  margin-top: 0;
}

.event-body {
  margin-top: 1.5rem;
}

.main-pic-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 9rem;
}

.main-pic {
  width: 52rem;
  height: 29.25rem;
}

.alt-text {
  margin-top: 2.5rem;
  text-align: center;
}

.images {
  margin-top: 7.75rem;
  background-color: var(--color-gray-1);
  width: 100%;
}

.images-title {
  padding-top: 3rem;
  text-align: center;
}

.images-title h5 {
  margin: 0;
}

.logos {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.icon + .icon {
  margin-left: 0.75rem;
}

.gallery {
  padding-top: 4rem;
  margin: 0 16.667%;
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  margin-bottom: 0.7rem;
  margin-left: 0.7rem;
}

.actual-title {
  margin-top: 7.625rem;
  margin-bottom: 5.625rem;
}

@media screen and (max-width: 767px) {
  .header-wrapper {
    padding: unset;
    height: unset;
  }
  .header {
    background-image: unset!important;
    height: unset;
  }
  .header-title {
    height: unset;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: unset;
    background: var(--color-blue-1);
  }
  .state-location {
    display: none;
  }
  .body {
    padding: 2rem;
  }
  .info {
    margin-top: 0;
  }
  .main-pic-wrapper,
  .alt-text,
  .images-title,
  .logos {
    display: none;
  }
  .images {
    margin-top: 0;
  }
  .gallery {
    padding-top: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .gallery img {
    margin-bottom: 0.7rem;
    margin-left: 0;
  }
}
