.teachers {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--color-gray-0);
}

.teachers .teachers-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25rem;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: #14C1AE;
  background-image: url('../img/teachers/background.png');
}

.teachers .teachers-header::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-green-0);
  opacity: 0.55;
}

.teachers .title {
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-top: 8rem;
  color: var(--color-gray-0);
}

.teachers .teacher-cards {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, 24rem);
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.teachers .teacher-cards a {
  color: unset;
  text-decoration: unset;
}

.teachers .teacher-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.75rem;
  border: 1px solid var(--color-gray-3);
  border-top: 0;
}

.teachers .teacher-cards .card * {
  cursor: pointer;
}

.teachers .teacher-cards .card .teacher-name {
  margin-top: 2.75rem;
  color: var(--color-green-0);
}
.teachers .teacher-cards .card .teacher-desc {
  white-space: pre-wrap;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .teachers {
    background: var(--color-green-0);
  }
  .teachers .teachers-header {
    display: none;
  }
  .teachers .title {
    margin-top: 6.25rem;
    margin-bottom: 0.5rem;
  }
  .teachers .teacher-cards {
    display: flex;
    gap: unset;
    grid-template-columns: unset;
    flex-direction: column;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .teachers .teacher-cards .card {
    border: unset;
    background: var(--color-gray-0);
    margin-top: 1.5rem;
    padding-bottom: 2.25rem;
  }
  .teachers .teacher-cards .card img {
    width: 100%;
  }
  .teachers .teacher-cards .card .teacher-name {
    margin-top: 1.75rem;
  }
  .teachers .teacher-cards .card .teacher-desc {
    margin-bottom: 0;
  }
  .teachers .teacher-cards .card .dot-dot-dot {
    display: none;
  }
}
