@font-face {
	font-family: 'Gilroy';
	src: url('../font/gilroy-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../font/gilroy-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../font/gilroy-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../font/gilroy-extrabold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
/* WEIGHTS */
.bold {
	font-weight: bold;
}
.extra-bold {
	font-weight: 800;
}
/* SIZES */
.size-12 {
	font-size: 12px;
}
.size-13 {
	font-size: 13px;
}
.size-14 {
	font-size: 14px;
}
.size-15 {
	font-size: 15px;
}
.size-16 {
	font-size: 16px;
}
.size-20 {
	font-size: 20px;
}
.size-24 {
	font-size: 24px;
}
.size-32 {
	font-size: 32px;
}
.size-34 {
	font-size: 34px;
}
.size-36 {
	font-size: 36px;
}
.size-54 {
	font-size: 54px;
}
.size-70 {
	font-size: 70px;
}
.size-83 {
	font-size: 83px;
}
.size-90 {
	font-size: 90px;
}
.size-120 {
	font-size: 120px;
}